{% extends "base.html" %} {% block content %}
<h3>{{ page_title }}</h3>
<p>
  Välkommen till Baron Barbershop, din destination för förstklassiga
  grooming-tjänster i hjärtat av Kil. Grundat 2020 av Jamil har Baron Barbershop
  snabbt blivit en älskad del av samhället, känd för sin vänliga atmosfär och
  exceptionella service. Jamil, vår skickliga och passionerade barberare, tar
  med sig en rik erfarenhet och ett skarpt öga för detaljer till varje klippning
  och rakning. På Baron Barbershop är vi stolta över att erbjuda personlig
  service som tillgodoser varje kunds unika stil och preferenser. Oavsett om du
  är ute efter en klassisk klippning, en modern stil eller en traditionell
  rakning, ser Jamil till att varje besök lämnar dig med ett fräscht och snyggt
  utseende. Som ett litet, lokalt drivet företag är Baron Barbershop mer än bara
  en plats att klippa sig – det är en plats där medlemmar i samhället kommer
  samman, delar historier och njuter av en stunds avkoppling. Vi tror på att
  skapa en välkomnande miljö där alla känner sig hemma. Tack för att du väljer
  Baron Barbershop. Vi ser fram emot att få ge dig bästa möjliga service och
  hjälpa dig att se ditt bästa ut.
</p>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Jamil</h3>
    <p>
      Jamil är hjärtat och själen bakom Baron Barbershop i Kil. Med en passion
      för barberaryrket som sträcker sig över många år har Jamil skapat en plats
      där kvalitet och personlig service står i centrum. Sedan öppningen av
      Baron Barbershop 2020 har Jamil arbetat outtröttligt för att erbjuda
      förstklassiga klippningar och rakningar till alla sina kunder. Jamil har
      en naturlig talang för att förstå varje kunds unika stil och behov. Hans
      skicklighet och noggrannhet speglas i varje klippning och rakning, där han
      kombinerar traditionella tekniker med moderna trender för att säkerställa
      att varje kund lämnar salongen nöjd och självsäker. Men Jamil är mer än
      bara en skicklig barberare. Han är en aktiv och engagerad medlem av
      samhället i Kil, alltid redo med ett vänligt leende och ett genuint
      intresse för sina kunders liv och historier. Hans varma och inbjudande
      personlighet gör Baron Barbershop till en plats där alla känner sig
      välkomna och uppskattade. När du besöker Baron Barbershop, kan du vara
      säker på att du är i trygga händer. Jamil strävar alltid efter att
      överträffa förväntningarna och ge varje kund en upplevelse som går utöver
      det vanliga. Välkommen in och upplev den passion och omsorg som Jamil
      lägger i sitt arbete varje dag.
    </p>
  </div>
  <div class="col-md-5">
    <img src="/static/img/baron.png" alt="Baron Barber">
  </div>
</div>

{% endblock %}
