{% extends "base.html" %}
{% block content %}
<div class="mainmessage">
<h2>Välkommen till vår frisörsalong</h2>
<p>Din främsta destination för de bästa klippningarna och grooming-tjänsterna.</p>
<hr>
<p>På vår barbershop kombinerar vi traditionella tekniker med moderna stilar för att ge dig en unik upplevelse. Vårt team av erfarna frisörer är dedikerade till att tillhandahålla personliga tjänster som möter dina specifika behov och preferenser. Oavsett om du letar efter en klassisk klippning, en modern frisyr eller en lyxig grooming session, har vi dig täckt.

  Boka din tid idag och njut av en avkopplande atmosfär där din komfort och tillfredsställelse är våra högsta prioriteringar.</p>
</div>
{% endblock %}

